<div id="tf-home">
    <div class="overlay"> 
        <div class="container"> 
            <div class="content-heading text-center">
                <h1>ACE Engineering college</h1>
                <p class="lead">Student portal</p>
                <a href="#" class="scroll goto-btn text-uppercase">LOGIN</a> 
            </div>
            </div>
    </div>
</div>