<div id="tf-intro">
    <div class="container"> 
        <div class="row"> 

            <div class="col-md-8 col-md-offset-2"> 
                <img src="img/logo-w.png" class="intro-logo img-responsive" alt="sssuu"> 
                <p>Ace student portal is developed for the students, to know or get information easily to them.The students can login with their credentials, which are provided by the institution.</p>
            </div>
            
        </div>
    </div>
</div>