<div id="tf-works">
    <div class="container">
        <div class="section-header">
            <h2>My <span class="highlight"><strong>Time-table</strong></span></h2>
            <h5><em>Time is precious</em></h5>
            <div class="fancy"><span><img src="img/favicon.png" alt="..."></span></div>
        </div>

     

    </div>

    <div class="container-fluid"> 
         <div id="itemsWork" class="row text-center">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding brand others"> 
                <div class="box"> 
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="mid 2" href="img/time/01@2x.png" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/01@2x.png">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div> 
                        <img src="img/time/01.png" class="img-responsive" alt="Image">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding apps">
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="ace" href="img/time/03@2x.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/03@2x.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                        <img src="img/time/03.jpg" class="img-responsive" alt="Image"> 
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding others brand">
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="sem exam" href="img/time/02@2x.png" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/02@2x.png">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div> 
                        <img src="img/time/02.png" class="img-responsive" alt="Image">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 nopadding others web"> 
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                             <a title="ace" href="img/time/03@2x.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/03@2x.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                        <img src="img/time/03.jpg" class="img-responsive" alt="Image"> 
                    </div>
                </div>
            </div> 

            <div class="col-xs-12 col-sm-6 col-md-3 nopadding web others">
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                             <a title="ace" href="img/time/03@2x.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/03@2x.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                        <img src="img/time/03.jpg" class="img-responsive" alt="Image"> 
                    </div>
                </div>
            </div> 
            <div class="col-xs-12 col-sm-6 col-md-3 nopadding app">
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a title="mid 2" href="img/time/01@2x.png" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/01@2x.png">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div> 
                        <img src="img/time/01.png" class="img-responsive" alt="Image">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 nopadding web brand">
                <div class="box">
                    <div class="hover-bg">
                        <div class="hover-text off">
                          <a title="ace" href="img/time/03@2x.jpg" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/03@2x.jpg">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                        <img src="img/time/03.jpg" class="img-responsive" alt="Image"> 
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 nopadding app">
                <div class="box"> 
                    <div class="hover-bg">
                        <div class="hover-text off">
                        <a title="mid 2" href="img/time/02@2x.png" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/time/02@2x.png">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div> 
                        <img src="img/time/02.png" class="img-responsive" alt="Image">
                    </div> 
                </div>
            </div>
            
        </div> 

    </div> 
</div>

