<div id="tf-footer">
    <div class="container">
        <p class="pull-left">Copyright © 2018 Fudio & Ace Engineering College. All rights reserved.</p> 
        <ul class="list-inline social pull-right">
            <li><a href="https://www.facebook.com/ACEEngineeringClg/"><i class="fa fa-facebook"></i></a></li> 
            <li><a href="https://www.youtube.com/watch?v=d24RK8CYybs"><i class="fa fa-youtube"></i></a></li> 
        </ul>
    </div>
</div>