<div id="tf-process">
    <div class="container"> 
        <div class="section-header">
            <h2>ACE <span class="highlight"><strong>News</strong></span></h2>
            <h5><em></em></h5>
            <div class="fancy"><span><img src="img/favicon.png" alt="..."></span></div>
        </div>
    </div>

    <div class="gray-bg"> 
        <div class="container">
            <div class="vline"></div> 
            <div id="process" class="row">

                <div class="col-md-10 col-md-offset-1">

                    <div class="media process">
                        <div class="media-right media-middle">
                            <i class="fa fa-institution"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">CREDITS</h4>
                            <p>The students who are not meeting the requirements of passing of the next academic session are requested to meet the respective HOD'S of the department.</p>
                        </div>
                    </div>

                    <div class="media process">
                        <div class="media-right media-middle">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">TOP 10</h4>
                            <p>ACE Engineering college stood top 10 in respective of the telangana state, the report of the india today has declared.</p>
                        </div>
                    </div>
                    <div class="media process"> 
                        <div class="media-right media-middle">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">ACE ACADEMY</h4>
                            <p>.Two students from the ACE Engineering college got 1st and 2nd rank all over india in the 2019 gate examination. </p>
                        </div>
                    </div>

                    <div class="media process">
                        <div class="media-right media-middle">
                            <i class="fa fa-android"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Google scholarship</h4>
                            <p>Students are informed to register in the google platform,to avail the scholarship and internship oppurtinities in upcoming sems.</p>
                        </div>
                    </div>
                    
                </div>

            </div> 
        </div>
    </div>  
</div>