<div id="tf-blog">
    <div class="container"> <!-- container -->
        <div class="section-header">
            <h2>Lovely <span class="highlight"><strong>Notices</strong></span></h2>
            <h5><em></em></h5>
            <div class="fancy"><span><img src="img/favicon.png" alt="..."></span></div>
        </div>
    </div>

    <div id="blog-post" class="gray-bg"> 
        <div class="container">
            <div class="row">
                <div class="col-md-6"> 

                    <div class="post-wrap">
                        <div class="media post">
                            <div class="media-body">
                                <p class="small">February 14, 2018</p>
                                
                                    <h5 class="media-heading"><strong>Mini project/CSE</strong></h5>
                                
                                <p>All CSE 3rd year students are said to form their team of three members. The team must give their names before 27st feb to Mr. D.Krishna sir.</p>
                            </div>
                        </div>
                        
                    </div>

                    <div class="post-wrap">
                        <div class="media post">
                            <div class="media-body">
                                <p class="small">February 14, 2018</p>
                                
                                    <h5 class="media-heading"><strong>Mini project/CSE</strong></h5>
                                
                                <p>All CSE 3rd year students are said to form their team of three members. The team must give their names before 27st feb to Mr. D.Krishna sir.</p>
                            </div>
                        </div>
                        
                        
                    </div>


                </div>

                <div class="col-md-6"> 
                    <div class="post-wrap">
                         <div class="media post"> 
                            <div class="media-body">
                                <p class="small">February 16, 2018</p>
                                
                                    <h5 class="media-heading"><strong>Cancellation of Workshop</strong></h5>
                                
                                <p>Ethical hacking workshop which is going to be held on 21st & 22nd  has been cancelled due to certain reasons.Inconvience caused is regretted.</p>
                            </div>
                        </div>
                        
                        
                    </div>

                    <div class="post-wrap"> 
                         <div class="media post">
                            <div class="media-body">
                                <p class="small">February 16, 2018</p>
                                
                                    <h5 class="media-heading"><strong>Cancellation of Workshop</strong></h5>
                                
                                <p>Ethical hacking workshop which is going to be held on 21st & 22nd  has been cancelled due to certain reasons.Inconvience caused is regretted.</p>
                            </div>
                        </div>
                        
                       
                    </div>

                   

                </div>
            </div>

            <div class="text-center">
                <a href="#" class="btn btn-primary tf-btn color">Load More</a>
            </div>                
        </div>
    </div> 
</div>